.container {
    /* font-family: 'Arial '; */
    color: #333;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #4A8670;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2.2em;
    color: white;
    margin-bottom: 20px;
  }
  
  .featureRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .featureCard {
    flex: 1 1 250px;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
  }
  
  .featureTitle {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 15px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #4A8670;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .languageSection {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .languageSelect {
    font-size: 1em;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }
  